# Dependencies
node_modules
.pnpm-store

# Build outputs
.output
dist
.vinxi

# Development files
.git
.gitignore
*.md
LICENSE

# IDE
.vscode
.idea
*.swp
*.swo

# Test files
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
coverage

# Misc
.DS_Store
*.log
.env.local
.env.*.local
